* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.5rem;
  color: #228B22;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgb(2, 35, 17);
}

h1 {
  font-size: 3rem;
  color: #006400;
  margin-bottom: 40px;
  font-family: bo;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.676);
}

#teams {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.sections {
  width: 350px;
  height: 450px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 20px 10px 25px gray;
  transition: 0.3s  ;
}

.sections img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.6);
  transition: 0.4s ;
}
.sections:hover img {
  filter: brightness(0.3);
}
.sections h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 2rem;
  color:    white;
  text-align: center;
  z-index: 2;
}
.sections p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  margin: 0;
  background: rgba(0,100,0,0.9);
  color: white;
  padding: 12px 18px;
  border-radius: 10px;
  max-width: 90%;
  font-size: 0.9rem;
  line-height: 1.4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 2;
}
.sections:hover p {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.sections:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.3);
}
@media (max-width: 768px) {
  #teams {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sections {
    width: 300px;
    height: 400px;
  }
h1 {
    font-size: 2.2rem;
  }
}
