/* * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} */

body {
    margin: 0;
    background-color: #ebeaea;
     margin: 0;
  
}


.navbar {
   
    background-color: rgb(29, 27, 27);
    color: white;
    padding: 10px;
    text-align: center;
}


.contact-section {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.contact-section h1 {
    text-align: center;
}

.contact-section p {
    text-align: center;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa8a8;
}
textarea{
     padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa8a8
}
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #262525;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b3a3a;
}


#formMessage {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}


.footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    margin-top: 40px;
}
button {
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
}

