/* *{
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
} */
/* body{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 30px;
    margin-left: 130px;
    margin-right: 130px;

    background-color: white;
}
h1{
    color :black ; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 100 ;
} */
  body{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 30px;
    margin-left: 130px;
    margin-right: 130px;}
h2{
   color :rgb(99, 17, 17);
   padding: 12px 0px ;
   font-size: 25px;
}
#members {
    display : flex ;
    justify-content: center;
    align-items: center;
    gap : 50px;
    flex-wrap: wrap;
    padding: 60px

}
.partners {
    display : flex ;
    flex-direction: column;
    align-items: center;
     flex-wrap: wrap;
    gap: 5 px;
}
.partners img {
     left : 50% ;
     width : 100px ; 
     height : 100px ;
     border-radius : 50px ;
     display: block;
     object-fit: cover;
     border :3px solid rgba(128, 128, 128, 0.107);
     
}
h4{
    color : black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h5{
    margin-top: -20px;
}
